.first {
    flex-wrap: wrap;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}   
.article-s {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    
}

.article {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
   width: 20%;
   height: 350px;
}


.price {
 font-size: 100%;
    color: #7065f0;
    font-weight: 700;
}

.img-article {
    border-radius: 10px ;
    width: 100%;
    height: auto;
}


.icon-plice {
    display: flex;
    justify-content: space-around;
}

#heart {
  width: 10%;
  height: auto;
  padding: 5px;
    
}

.title-price {
    color: #7065f0;
    font-weight: 750;
    margin-left: 20px;
    width: 40%;
    height: auto;
    font-size: 100%;
}

.subtitle-price {
    padding-top: 10px;
    padding-bottom: 10px;
    color: darkgray;
    width: 100%;
    height: auto;
    font-size: 14px;
}

.Facilities {
    border-top: 1px solid #adadad;
    display: flex;   
    margin: 0 30px;
   
}

.icon-domain {
    width: 9%;
    height:auto;

}

.Beds {
    color: darkgray;
    font-size: 12px;
    width: 100%;
    height: auto;
}