

footer {
    background-color: white;

}



.allDivFooter {
    display: flex;
    justify-content: space-around;

}

a {
    list-style: none;
    text-decoration: none;
    color: #000929;
}
li {
    line-height: 56px;
    font-size: 14px;
}
.endtext {
    background-color: white;
    display: flex;
    justify-content: space-around;
    color: darkgray;
    border-top: 1px solid #e8e6f9;
}
