@media screen and (max-width: 1000px) and (min-width: 300px) {
    .second{
        width: auto;
        height: auto;
    }

.titleSecond{
    font-size: 40px;
    width: auto;
    height: auto;
}
.paragraphSecond{
    font-size: 20px;
    width: auto;
    height: auto;
}
.textSecond{
    font-size: 20px;
    line-height: 30px;
    font-weight:bold;
    width: auto;
    height: auto;
}
















}